@{
    ViewData["Title"] = "Home";
}

<h1>Welcome, @ViewBag.FullName!</h1>

<div>
    <p>You have successfully logged in.</p>
    <a asp-action="Edit" class="btn btn-info">Edit Profile</a>
    <a asp-action="Logout" class="btn btn-danger">Logout</a>
</div>